// A couple of base app-wide styles. Nothing crazy.
// ================================================

body {
  background-color: #f5f5f5;
}

a {
  color: #fe8421;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}