
.header {
  background-color: #3c454b;
  padding: 64px 0;
  margin-bottom: 24px;
  text-align: center;
  color: #fefefe;

  &-title {
    font-size: 2em;
    font-weight: bold;
    line-height: 2em;
  }
  &-subtitle {
    margin-bottom: 40px;
  }
}