<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Intelligible Babble</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="//localhost:9090/assets/Admin.css" />
</head>
<body>
    <div id="mount"><%- html || '' %></div>
    <script>window.__data__ = JSON.stringify(<%- data %>);</script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.min.js"></script>
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.4.0/codemirror.min.js"></script>-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/immutable/3.7.4/immutable.min.js"></script>
    <script src="//localhost:9090/assets/Admin.js"></script>
</body>
</html>