<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Intelligible Babble</title>
</head>
<body>
    <div id="mount"></div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/immutable/3.7.4/immutable.min.js"></script>
    <script src="/assets/Client.js"></script>
</body>
</html>