<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Register - Intelligible Babble</title>
</head>
<body>
    <form method="POST">
        <input type="text" name="name" placeholder="Name" /><br/>
        <input type="text" name="username" placeholder="Username" /><br/>
        <input type="password" name="password" placeholder="Password" /><br/>
        <button type="submit">Register</button>
    </form>
</body>
</html>